.material-symbols-outlined {
  font-variation-settings: "FILL" 100, "wght" 100, "GRAD" 0, "opsz" 24;
}
* {
  transition: hover 0.5s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-width: 420px;
}
#div {
  padding: 5px 6px 0 6px;
  background-color: #252525;
  span {
    color: white;
  }
}
#body {
  background-color: black;
  overflow-x: auto;
  height: fit-content;
  box-sizing: border-box;
  border: 20px solid black;
  position: relative;
  div {
    width: 100%;
    display: flex;
    gap: 10px;
    cursor: grabbing;
  }
}
#body > .nav-category > p {
  background-color: #252525;
  white-space: nowrap;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
  font-size: smaller;
  font-weight: 600;
  cursor: pointer;
}
#body::-webkit-scrollbar {
  display: none;
}

button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 66px;
  background-color: black;
  height: 30px;
  width: 30px;
  z-index: 1;
}
button:hover {
  background-color: rgb(70, 70, 70);
}
#leftBtn {
  left: 10px;
}
#ritBtn {
  right: 10px;
}
.side-menu {
  background-color: #000000;
  top: 0px;
  left: 0px;
  transition: left 0.5s;
  padding: .5rem;
}
.side-menu > ul > li{
  padding: .5rem ;
}
.side-menu > ul > hr{
  border: 1px solid grey;
  margin: .3rem 0;
}
.side-menu ::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  border-radius: 10px;
}
.side-menu ::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}
.create{
  width: 180px;
}
.create > span{
  padding: .4rem 0rem;
}



@media (max-width: 700px) {
  .side-menu {
    position: absolute;
    background-color: #141414;
    top: 0px;
    left: -1000px;
    transition: left 0.5s;
  }
  .side-menu ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    border-radius: 10px;
  }
  .side-menu ::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
  .side-menu.display {
    left: -1px;
    top: 0;
  }
  .side-menu > ul >li >p{
    display: none;
  }
}
