.no-scrollbar::-webkit-scrollbar {
 display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
 -ms-overflow-style: none; /* IE and Edge */
 scrollbar-width: none; /* Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
 width: 10px;
 transition: all .3s ease-in-out;
 margin: 0 1rem;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
 background: #f1f1f100;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
 background: #838383;
 border-radius: 10px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
 background: #bdbdbd;
}
