@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}
#div{
  padding: 5px 6px 0 6px;
  background-color: #252525;
  span{
    color:white;
  }
}
#category-slider{
  background-color: black;
  overflow-x: auto;
  height: fit-content;
  box-sizing: border-box;
  border: 20px solid black;
  position: relative;
  button{
    position: absolute;
  }
  div{
    width:100%;
    display: flex;
    gap: 10px;
    cursor: grabbing;
  }
}
#category-slider > div > p{
  background-color: #252525;
  white-space: nowrap;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
  font-size: smaller;
  font-weight: 600;
  cursor: pointer;
}
#category-slider::-webkit-scrollbar{
  display: none;
}