@import "tailwindcss";

.isLive{
  @apply before:content-['LIVE'] before:absolute before:inset-x-1/2 before:-translate-x-1/2 before:-bottom-1 before:w-fit before:px-2 before:text-xs before:rounded-sm before:py-0.5 before:bg-red-500  
}